@{
  Layout = "_Layout";
}
<div class="jumbotron">
<h1>Welcome to the Anagram Finder</h2>
  <form action="/find" method="post">
  <div class="form-group">
    <label for="word1">Word1</label>
    <input name="word1" value="" type="text">
  </div>
  <div class="form-group">
    <label for="word2">Enter the list of words separated by space</label>
    <input name="word2" value="" type="text">
  </div>
  <button type="submit">Find Anagrams</button>
</form>
</div>
